{% extends '::base.html.twig' %}

{% block body %}
    {% if jobs is not empty %}
        <h1>Jobs list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.locations }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('job_show', { 'id': job.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('job_edit', { 'id': job.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('job_new') }}">Create a new job</a>
        </li>
    </ul>
{% endblock %}
