{% extends '::base.html.twig' %}

{% block body %}
    {% if locations is not empty %}
        <h1>Locations list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.country }}</td>
                    <td>{{ location.address }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('location_show', { 'id': location.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('location_edit', { 'id': location.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('location_new') }}">Create a new location</a>
        </li>
    </ul>
{% endblock %}
