<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block heading %}
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('location_index')}}">Location</a>
                    </li>
                    <li>
                        <a href="{{ path('job_index')}}">Job</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout')}}">Log Out</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login')}}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
